<p>
  Cubes rule!
</p>
<svg class="game-component" view-box="0 0 800 800" width="800" height="800" (mousedown)="mousePress($event)" (mousemove)="mouseMove($event)" (mouseup)="mouseRelease($event)">
	<g *ngFor="let c of cubeletsArray" visual-cube [mouseTracking]="mouseTracking" [size]=69 [xLocation]=400 [yLocation]=300 [centerX]=-100 [centerY]=0 [centerZ]=0 [offsetX]="getOffsetX(c)" [offsetY]="getOffsetY(c)" [offsetZ]="getOffsetZ(c)" [colour]="getCubeletColour(c)" [length]="cubeSize" (selectionEvent)="select($event)"></svg:g>
</svg>